<!-- <div class="row mt-4"> -->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h5 class="titulo">LISTADO DE TARJETAS</h5>
                <div>
                    <table class="table" >
                        <tr>
                            <th>Nombre</th>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Editar</th>
                            <th>Modal</th>
                            <th>Borrar</th>
                        </tr>
                        <tr *ngFor="let tarjeta of listadoTarjetas">
                            <td>{{tarjeta.nombre}}</td>
                            <td>{{tarjeta.numero}}</td>
                            <td>{{tarjeta.fechaExpiracion | date: 'MM/YY'}}</td>
                            <td><i class="far fa-regular fa-pen-to-square text-info" (click)="modificarTarjetaCargando(tarjeta)"></i></td>
                            <td><i class="far fa fa-window-maximize text-info" (click)="modificarTarjetaModal(tarjeta)"></i></td>
                            <td><i class="far fa-solid fa-trash text-danger" (click)="eliminarTarjeta(tarjeta.id)"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->